<div class="row">
    <div class="card mb-3 col-12">
        <div class="card-body">
           <h5 class="card-title">Cadastrar - Agendamento de Potenciais Clientes</h5>
            <p class="card-text">Sistema utilizado para agendamento de serviços.</p>
            <form method="post" action="/cadastrar" id="form" name="form">       
                <div class="form-group">
                    <label for="exampleFormControlInput1">Nome:</label>
                    <input type="text" class="form-control" name="nome" id="nome">
                </div>
                             <div class="form-group">
                    <label for="exampleFormControlInput1">Telefone:</label>
                    <input type="tel" class="form-control" name="telefone" id="telefone" placeholder="(xx)xxxxx-xxxx">
                </div>
                             <div class="form-group">
                    <label for="exampleFormControlSelect1">Origem:</label>
                    <select class="form-control" required name="origem" id="origem">
                        <option>Celular</option>
                        <option>Fixo</option>
                        <option>Whatsapp</option>
                    </select>
                </div>
               <div class="form-group">
                    <label for="exampleFormControlInput1">Data do Contato:</label>
                    <input type="date" class="form-control" name="data_contato" id="data_contato">
                </div>
               
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Observação</label>
                    <textarea class="form-control" name="observacao" id="observacao" rows="3"></textarea>
                </div>        
                <div>&nbsp;</div>
                               <button type="submit" id="btnInserir" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
